@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
body{
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}
header{
    background: url("https://s3.nat-geo.ru/images/2019/12/7/323baa5d2b3a41b79d9fce6309d4cafc.max-2500x1500.jpg") center / cover;
    width: 100%;
    height: 100vh;
    .hed{
        text-align: center;
        background-color: rgba(137, 196, 244, 0.2);
        width: 100%;
        height: 100vh;
        color: white;
        .lor{
            padding-top: 50px;
            margin-top: 0;
        }
        h1{
            font-size: 50px;
        }
        a{
            text-decoration: none;
            color: white;
        }
        ul{
            li{
                display: inline-flex;
                margin: 0 20px;
                font-size: 20px;
            }
        }
        .ahed{
            padding: 10px 25px;
            background-color: rgb(95, 189, 252);
            border-radius: 15px;
            font-size: 23px;
        }
    }
}
.icon{
    background-color: rgb(216, 216, 216);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    div{
        margin-top: 30px;
        text-align: center;
        padding: 10px;
        width: 170px;
        i{
            font-size: 55px;
            color: rgb(95, 189, 252);
        }
        p{
            color: rgb(112, 112, 112);
        }
    }
}
.photo{
    flex-wrap: wrap;
    background-color: rgb(235, 247, 255);
    display: flex;
    justify-content: space-around;
    div{
        margin-top: 50px;
        margin-bottom: 50px;
        width: 350px;
        img{
            width: 100%;
            height: 195px;
        }
        a{
            margin-top: 20px;
            padding: 10px;
            color: white;
            background-color: rgb(95, 189, 252);
            text-decoration: none;
            border-radius: 25px;
        }
    }
}
.loorem{
    div{
        margin: 0 auto;
        padding: 50px 0;
        max-width: 1000px;
    }
    background-color: rgb(216, 216, 216);
    p{
        color: gray;
    }
    a{
        margin-top: 20px;
        padding: 10px;
        color: white;
        background-color: rgb(95, 189, 252);
        text-decoration: none;
        border-radius: 25px;
    }
}
.three{
    flex-wrap: wrap;
    padding: 50px 0;
    background-color: rgb(235, 247, 255);
    display: flex;
    justify-content: space-around;
    div{
        margin: 20px 0;
        width: 350px;
        img{
            width: 100%;
            height: 250px;
        }
        p{
            color: gray;
        }
        a{
            color:  rgb(95, 189, 252);
            text-decoration: none;
        }
    }
}
footer{
    padding: 20px 0;
    background-color: black;
    text-align: center;
    p{
        color: white;
    }
}
@media screen and (max-width:400px){
    header{
        h1{
            font-size: 25px;
        }
    }
}
.dd{
    height: 500px;
}