@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}

header {
  background: url("https://s3.nat-geo.ru/images/2019/12/7/323baa5d2b3a41b79d9fce6309d4cafc.max-2500x1500.jpg") center/cover;
  width: 100%;
  height: 100vh;
}
header .hed {
  text-align: center;
  background-color: rgba(137, 196, 244, 0.2);
  width: 100%;
  height: 100vh;
  color: white;
}
header .hed .lor {
  padding-top: 50px;
  margin-top: 0;
}
header .hed h1 {
  font-size: 50px;
}
header .hed a {
  text-decoration: none;
  color: white;
}
header .hed ul li {
  display: inline-flex;
  margin: 0 20px;
  font-size: 20px;
}
header .hed .ahed {
  padding: 10px 25px;
  background-color: #5fbdfc;
  border-radius: 15px;
  font-size: 23px;
}

.icon {
  background-color: #d8d8d8;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.icon div {
  margin-top: 30px;
  text-align: center;
  padding: 10px;
  width: 170px;
}
.icon div i {
  font-size: 55px;
  color: #5fbdfc;
}
.icon div p {
  color: #707070;
}

.photo {
  flex-wrap: wrap;
  background-color: #ebf7ff;
  display: flex;
  justify-content: space-around;
}
.photo div {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 350px;
}
.photo div img {
  width: 100%;
  height: 195px;
}
.photo div a {
  margin-top: 20px;
  padding: 10px;
  color: white;
  background-color: #5fbdfc;
  text-decoration: none;
  border-radius: 25px;
}

.loorem {
  background-color: #d8d8d8;
}
.loorem div {
  margin: 0 auto;
  padding: 50px 0;
  max-width: 1000px;
}
.loorem p {
  color: gray;
}
.loorem a {
  margin-top: 20px;
  padding: 10px;
  color: white;
  background-color: #5fbdfc;
  text-decoration: none;
  border-radius: 25px;
}

.three {
  flex-wrap: wrap;
  padding: 50px 0;
  background-color: #ebf7ff;
  display: flex;
  justify-content: space-around;
}
.three div {
  margin: 20px 0;
  width: 350px;
}
.three div img {
  width: 100%;
  height: 250px;
}
.three div p {
  color: gray;
}
.three div a {
  color: #5fbdfc;
  text-decoration: none;
}

footer {
  padding: 20px 0;
  background-color: black;
  text-align: center;
}
footer p {
  color: white;
}

@media screen and (max-width: 400px) {
  header h1 {
    font-size: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
